main {
    padding: clamp(1rem, 3vw, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Components */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg);
    gap: 1.5rem;
    border-radius: 12px;
    padding: 2rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.78rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

/* Element selectors */

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

footer {
    margin-block: 1rem;
    font-size: 0.6875rem;
    text-align: center;
}

/* Descendant selectors */

.profile h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.profile p {
    color: var(--hover-color);
    font-weight: 600;
}

.title p {
    font-weight: 400;
    color: var(--white-color);
    margin-block-start: 8px;
}

.social-links a {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;

    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;

    background-color: var(--link-bg);

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

footer a {
    color: var(--hover-color);
}

/* States */

.social-links a:hover,
.social-links a:focus-visible {
    background-color: var(--hover-color);
    color: #111111;
    cursor: pointer;
}

/* Accessibility */

@media (prefers-reduced-motion: reduce) {
    .social-links a {
        transition: none;
    }
}